<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.sport.zones.mapper.IGameExperMapper">

    <resultMap id="BaseResultMap" type="demo.sport.zones.domain.GameExperInfoPO">
        <id property="sequenceId" column="SEQUENCE_ID" jdbcType="INTEGER"/>
        <result property="themeNo" column="THEME_NO" jdbcType="VARCHAR"/>
        <result property="zoneNo" column="ZONE_NO" jdbcType="VARCHAR"/>
        <result property="playCode" column="PLAY_CODE" jdbcType="VARCHAR"/>
        <result property="playName" column="PLAY_NAME" jdbcType="VARCHAR"/>
        <result property="experPoint" column="EXPER_POINT" jdbcType="INTEGER"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        SEQUENCE_ID
        ,THEME_NO,ZONE_NO,
        PLAY_CODE,EXPER_POINT,CREATE_TIME,
        UPDATE_TIME
    </sql>


    <select id="selectExperList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        T_PLACE_ZONE_GAME
        WHERE
        DEL_FLAG=0
        <if test="themeNo!=null">
            AND THEME_NO=#{themeNo}
        </if>
        <if test="zoneNo!=null">
            AND ZONE_NO=#{zoneNo}
        </if>
        ORDER BY
        CREATE_TIME DESC
    </select>
</mapper>
