<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.sport.zones.mapper.IRankGameMapper">

    <resultMap id="BaseResultMap" type="demo.sport.zones.domain.RankGameInfoPO">
        <id property="sequenceId" column="SEQUENCE_ID" jdbcType="INTEGER"/>
        <result property="rankCode" column="RANK_CODE" jdbcType="VARCHAR"/>
        <result property="gameCode" column="GAME_CODE" jdbcType="VARCHAR"/>
        <result property="playCode" column="PLAY_CODE" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        SEQUENCE_ID
        ,RANK_CODE,GAME_CODE,
        PLAY_CODE,CREATE_TIME,UPDATE_TIME
    </sql>

    <select id="selectGameList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        T_PLACE_RANK_GAME
        WHERE
        DEL_FLAG=0
    </select>
</mapper>
