<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.sport.zones.mapper.IThemeZoneMapper">

    <resultMap id="BaseResultMap" type="demo.sport.zones.domain.ThemeZoneInfoPO">
        <id property="sequenceId" column="SEQUENCE_ID" jdbcType="INTEGER"/>
        <result property="zoneNo" column="ZONE_NO" jdbcType="VARCHAR"/>
        <result property="themeNo" column="THEME_NO" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        SEQUENCE_ID
        ,ZONE_NO,THEME_NO
    </sql>

    <select id="selectZoneList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        T_PLACE_THEME_ZONE
        WHERE
        DEL_FLAG=0
        <if test="themeNo!=null">
            AND THEME_NO=#{themeNo}
        </if>
        <if test="zoneNo!=null">
            AND ZONE_NO=#{zoneNo}
        </if>
        ORDER BY
        CREATE_TIME DESC
    </select>

    <update id="deleteByThemeNo">
        UPDATE T_PLACE_THEME_ZONE
        SET DEL_FLAG    = 1,
            UPDATE_TIME = now()
        WHERE THEME_NO = #{themeNo}
          and DEL_FLAG = 0
    </update>

    <insert id="insertSelective" parameterType="demo.sport.zones.domain.ZonesThemeCionPO">
        insert into T_PLACE_THEME_ZONE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zoneNo != null">ZONE_NO,</if>
            <if test="themeNo != null">THEME_NO,</if>
            DEL_FLAG,
            CREATE_TIME,
            UPDATE_TIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zoneNo != null">#{zoneNo,jdbcType=VARCHAR},</if>
            <if test="themeNo != null">#{themeNo,jdbcType=VARCHAR},</if>
            0,
            now(),
            now()
        </trim>
    </insert>
</mapper>
